

.container{
    width: 950px;
    background-color: rgb(219, 212, 212);
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12px;
}


.container h1{
    color: rgb(86, 73, 73);
    font-size: 50px;
    justify-content: center;
}
.top-nav {
    height: 250px;
    background-color: rgb(65, 186, 216);
    width: 100%;
    margin: 10px 20px 10px 20px;
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

.top-nav img {
    height: 200px;
    margin: 0 10px; 
    padding: 20px;
}


.main {

    background-color: rgba(217, 88, 187, 0.613);
    height: 250px;
    width: 100%;
    margin: 10px 20px 10px 20px;
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}
.main img {
    height: 200px;
    margin: 0 10px; 
    padding: 20px;
}


.advertisement {
    background-color: rgba(246, 243, 245, 0.879);
    height: 250px;
    width: 100%;
    margin: 10px 20px 10px 20px;
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    

}

.advertisement img {
    height: 200px;
    margin: 0 10px; 
    padding: 20px;
}
